TestWCFService/Service References/ServiceImport/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceImport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceImport_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IServiceImport_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImport_ImportFromArla_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromArla" />
  </wsdl:message>
  <wsdl:message name="IServiceImport_ImportFromArla_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromArlaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceImport">
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImport/Import" message="tns:IServiceImport_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImport/ImportResponse" message="tns:IServiceImport_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromArla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImport/ImportFromArla" message="tns:IServiceImport_ImportFromArla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImport/ImportFromArlaResponse" message="tns:IServiceImport_ImportFromArla_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceImport" type="tns:IServiceImport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IServiceImport/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportFromArla">
      <soap:operation soapAction="http://tempuri.org/IServiceImport/ImportFromArla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImport">
    <wsdl:port name="BasicHttpBinding_IServiceImport" binding="tns:BasicHttpBinding_IServiceImport">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFService/Import/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>