TestWCFService/Service References/ServiceOptimize/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOptimize" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOptimize_Optimize_InputMessage">
    <wsdl:part name="parameters" element="tns:Optimize" />
  </wsdl:message>
  <wsdl:message name="IServiceOptimize_Optimize_OutputMessage">
    <wsdl:part name="parameters" element="tns:OptimizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOptimize_GetProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgress" />
  </wsdl:message>
  <wsdl:message name="IServiceOptimize_GetProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOptimize_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IServiceOptimize_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOptimize">
    <wsdl:operation name="Optimize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOptimize/Optimize" message="tns:IServiceOptimize_Optimize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOptimize/OptimizeResponse" message="tns:IServiceOptimize_Optimize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOptimize/GetProgress" message="tns:IServiceOptimize_GetProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOptimize/GetProgressResponse" message="tns:IServiceOptimize_GetProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOptimize/GetStatus" message="tns:IServiceOptimize_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOptimize/GetStatusResponse" message="tns:IServiceOptimize_GetStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOptimize" type="tns:IServiceOptimize">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Optimize">
      <soap:operation soapAction="http://tempuri.org/IServiceOptimize/Optimize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <soap:operation soapAction="http://tempuri.org/IServiceOptimize/GetProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IServiceOptimize/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOptimize">
    <wsdl:port name="BasicHttpBinding_IServiceOptimize" binding="tns:BasicHttpBinding_IServiceOptimize">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceOptimize/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>