TestWCFService/Service References/ServiceMap/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:element name="GetRoadMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="route" nillable="true" type="q1:Route" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoadMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetRoadMapResult" nillable="true" type="q2:MapRouteWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>