GUI/Service References/ServiceMap/WCFWrapper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFWrapper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFWrapper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="MapRouteWrapper">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="MapRoutes" nillable="true" type="q1:ArrayOfTupleOfPointLatLngWrapperstringStL35vVB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapRouteWrapper" nillable="true" type="tns:MapRouteWrapper" />
  <xs:complexType name="PointLatLngWrapper">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Points" nillable="true" type="q2:ArrayOfTupleOfdoubledouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointLatLngWrapper" nillable="true" type="tns:PointLatLngWrapper" />
</xs:schema>